// Styling for the navbar
#header-top{
  @include top-font;
  span.title{
    font-size: 1.5rem;
    font-weight: $fw-900;
    position: absolute;
    bottom: 2vh;
  }
  background-image: url('./assets/images/header_top.jpg');
  background-position: 50%;
      background-position: 0 top;
      background-repeat: no-repeat;
      
}
.header-top {
  position: relative;
  &:before {
        background-position: 50%;
    background-position: 0 top;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,rgba(0,0,0,0) 0%,white 50%);
        content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: .3; */
      }
}
#mainNav {
  background-color: $gray-900;
  min-height: 3rem;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $yellow;
    @include menu-font;
  }
  .navbar-brand {
    color: $bg-secondary;
    @include menu-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: $fw-900;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $bg-secondary;
        @include menu-font;
        &.active,
        &:hover {
          color: $bg-secondary;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    min-height: 3rem;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: $yellow;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}

.top-submenu{
  .dropdown-menu {
    background-color: rgba(252, 146, 6, .8);
    color: $white;
    .nav-link{
      color: $white;
    }
  }
}

.items-shorcut {
  a.item-link-circle {
      
      width: 25px;
      height: 25px;
      /* display: inline-block; */
      /* position: relative; */
      /* padding: 2px; */
      border-radius: 100%;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      float: left;
      margin-right: 5px;
      border-width: 1px;
      border-style: solid;
      transition:background-color .2s ease;
      &.yellow {
        background-color:$yellow;
        border-color: darken($yellow, 8%);
        &:hover {
          background-color:lighten($yellow, 15%);
        }
      }
      &.orange {
        background-color:$orange;
        border-color: darken($orange, 8%);
        &:hover {
          background-color:lighten($orange, 15%);
        }
      }
      &.blue {
        background-color:$blue;
        border-color: darken($blue, 8%);
        &:hover {
          background-color:lighten($blue, 15%);
        }
        
      }
      &.darkblue {
        background-color:$dark_blue;
        border-color: darken($dark_blue, 8%);
        &:hover {
          background-color:lighten($dark_blue, 15%);
        }
        
      }
  }
}